.App {
    text-align: center;
}

/* navbar */
.navbar {
    background-color: white;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.navbar li {
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    display: inline-block;
}

/* content */
.content {
    margin-top: 80px;
    width: 100%;
}

/* footer */

.footer {
    background-color: #000044;
    font-color: white;
    height:80px;
    width:100%;
    position: fixed;
    bottom: 0;
    /*box-shadow: 0 -2px 5px rgba(0,0,0,0.3);*/
}